<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./styles/example-specific.css">
    <link rel="stylesheet" href="./styles/tabview.css">
    <link rel="icon" href="./images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <title>RS-API</title>
  </head>
  <body>

    <div class="container">

      <div class="title">
        <div class="title-logo">
          <a href="/" class="title-text">
            <div class="logo">
              <img class="image-format" src="./images/logo.png" alt="RS-API Logo">
            </div>
            <div class="text">
              <h2>RS-API</h2>
              <small">RuneScape API</small>
            </div>
          </a>
        </div>

        <div class="title-navbar">
          <a class="custom-link link-resize" href="./about">About</a>
          <a class="custom-link link-resize" href="./docs">Docs</a>
          <a class="custom-link link-resize" href="./examples">Examples</a>
          <a class="custom-link favicon-resize" href="https://github.com/timwaldron/rs-api" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div class="content">
        
        <h2>Examples</h2>
        <p>Click on the buttons to view implementing RS-API in different languages.</p>
        
        <div class="examples">
          <div class="tab">
            <button class="tablinks" onclick="changeExample(event, 'ruby')">Ruby</button>
            <button class="tablinks" onclick="changeExample(event, 'csharp')">C#</button>
            <button class="tablinks" onclick="changeExample(event, 'java')">Java</button>
            <button class="tablinks" onclick="changeExample(event, 'python')">Python</button>
            <button class="tablinks" onclick="changeExample(event, 'javascript')">JavaScript</button>
          </div>
          
          <div id="ruby" class="tabcontent" style="display: block;">
            <h3>Ruby</h3>
            <pre class="prettyprint" style="font-family: monospace">
require 'net/http'
require 'json'

@endpoint = 'https://rs-api.cloud/api/osrs/'

def get_osrs_data(username)
  response = Net::HTTP.get(URI(@endpoint + username))
  return JSON.parse(response)
end

osrs_data = get_osrs_data "dimsimtim"

puts osrs_data['username']
# => dimsimtim

puts osrs_data['skills']['cooking']
# => {"rank"=>916944, "level"=>58, "experience"=>244950}

puts osrs_data['skills']['cooking']['level']
# => 58
              </pre>
          </div>
          
          <div id="csharp" class="tabcontent">
            <h3>C#</h3>
            <p>[CODE]</p>
          </div>
          
          <div id="java" class="tabcontent">
            <h3>Java</h3>
            <p>[CODE]</p>
          </div>
          
          <div id="python" class="tabcontent">
            <h3>Python</h3>
            <p>[CODE]</p>
          </div>
          
          <div id="javascript" class="tabcontent">
            <h3>JavaScript</h3>
            <p>[CODE]</p>
          </div>
        </div>
      </div>

      <script src="./javascript/tabview.js"></script>
    </div>
  </body>
</html>