<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/6c80791dfe.js"></script>
    <link rel="icon" href="./images/favicon.ico">
    <title>RuneScape API</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <div class="title-text">
          <h2>RuneScape API</h2>
        </div>
        <div class="title-navbar">
          [About] [Documentation] [Examples]
        </div>
      </div>
      <div class="content">
        [Content]
      </div>
      <div class="footer">
        <div class="icon">
          <a class="custom-link" href="https://github.com/timwaldron"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>